.table {
    height: 400px;
    width: 97%;
    margin: 0 auto;
 
  }
  
/* css for loader */

.loader{
 display: flex;
  justify-content: center; 
}

.MuiDataGrid-footerContainer{
    min-height: 28px !important;
}